proizvodi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:simpleType name="CenaRestrikcija">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:element name="Proizvodi">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Proizvod" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Naziv"/>
              <xs:element type="xs:string" name="Kategorija" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element name="Cena">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="CenaRestrikcija">
                      <xs:attribute type="xs:string" name="valuta" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Tekst">
                <xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="10"/>
										<xs:maxLength value="180"/>
									</xs:restriction>
								</xs:simpleType>
              </xs:element>
              <xs:element name="Oznake">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Oznaka" maxOccurs="5" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Akcije">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Akcija" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:float" name="cena" use="required"/>
                            <xs:attribute type="xs:string" name="datum_isteka" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>